@model EstudianteViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    
    body{
        background-image: url('/Alex.jpg');
        background-size: cover;
        font-family: Arial, sans-serif;
        font-weight bold
    }

</style>

<h2>Registro de estudiante</h2>
<from asp-action="Registra" method="post">
    <div>
        <label asp-for="Nombrecompleto"></label>
        <input asp-for="Nombrecompleto" class="form-control" />
        <span asp-validation-for="Nombrecompleto" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Matricula"> </label>
        <input asp-for="Matricula" class="form-control" />
        <span asp-validation-for="Matricula" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Carrera"></label>
        <input asp-for="Carrera" class="form-control" />
    </div>
    <div>
        <label asp-for="CorreoInstitucional"></label>
        <input asp-for="CorreoInstitucional" class="form-control" />
    </div>
    <div>
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div>
        <label asp-for="Fechadenacimiento"></label>
        <input asp-for="Fechadenacimiento" class="form-control" />
    </div>
    <div>
        <label asp-for="Genero"></label>
        <input asp-for="Genero" class="form-control" />
    </div>
    <div>
        <label asp-for="Turno"></label>
        <input asp-for="Turno" class="form-control" />
    </div>
    <div>
        <label asp-for="Tipodeingreso"></label>
        <input asp-for="Tipodeingreso" class="form-control" />
    </div>
    <div>
        <label asp-for="Estabecado"></label>
        <input asp-for="Estabecado" class="form-control" />
    </div>
    <div>
        <label asp-for="Porcentajedebeca"></label>
        <input asp-for="Porcentajedebeca" class="form-control" />
    </div>
    <div>
        <label asp-for="Terminoycondiciones"></label>
        <input asp-for="Terminoycondiciones" class="form-control" />
    </div>
    <button class="btn-success"type="submit">Enviar</button>
    <button class="btn-success" type="submit">Cancelar</button>
</from>
